
# ----------------------
# Flask & Extensions
# ----------------------
Flask-Migrate    == 1.8.0   # Used for performing SQLAlchemy database migrations
Flask-Restless   == 0.17.0  # Used for RESTful API generation

# ----------------------
# Utils
# ----------------------

# ----------------------
# Testing
# ----------------------

# ----------------------
# Deployment
# ----------------------
