<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Description -->
    <meta name="description" content="BuildersRecords Admin Interface" />
    <!-- Title -->
    <title> BuildersRecords Admin Interface </title>
    <!-- CSS Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <!-- JS Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Navigation Bar Header -->
            <div class="navbar-header">
                <!-- Navigation Bar Brand -->
                <a class="navbar-brand" href="/"> BuildersRecords Admin Interface </a>
            </div>
        </div>
    </nav>
    <!-- Container -->
    <div class="container">
        <!-- Header -->
        <div class="text-center">
            <h1> Log In </h1>
        </div>
        <!-- Line Break -->
        <br>
        <!-- Well -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="well">
                    <!-- Form -->
                    <form name="loginForm">
                        <!-- Username Field -->
                        <div class="form-group">
                            <label class="control-label" for="username"> Username </label>
                            <input class="form-control"
                                   name="username"
                                   type="text"
                                   placeholder="Username"
                                   required
                                   autofocus>
                        </div>
                        <!-- Password Field -->
                        <div class="form-group">
                            <label class="control-label" for="password"> Password </label>
                            <input class="form-control"
                                   name="password"
                                   type="password"
                                   placeholder="Password"
                                   required>
                        </div>
                        <!-- Line Break -->
                        <br>
                        <!-- Submit -->
                        <div class="form-group text-right">
                            <button id="login-button" type="submit" class="btn btn-success btn-block">
                                <b> Log In </b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
